# Файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Лог-файлы и временные файлы
*.log
*.pot
*.swp
*.swo
*.swn

# Базы данных SQLite
db.sqlite3
db.sqlite3-journal

# Файлы среды разработки
.vscode/
.idea/
*.iml

# Файлы виртуального окружения
venv/
.env
*.env

# Миграции, созданные Django (если не хочешь их коммитить)
**/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.pyd

# Статические и медиа-файлы
staticfiles/
media/

# Файлы зависимостей
Pipfile
Pipfile.lock
poetry.lock
